/* Light Theme Colors */
$body-background: linear-gradient(180deg, #00010C 0%, #050B72 100%);

$white-1: #FFFFFF;
$white-2: #F8F8F8;

$black-1: #232323;

$grey-2: #B4B4B7;
$grey-3: #949497;

$blue-1: #1274CF;